<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Welcome To MY website</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.icon----->
  <link rel="icon" href="icone.jpg">
  <!-- Place favicon.ico in the root directory -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	 <!----google font link strt------>





	<link href="https://fonts.googleapis.com/css?family=Livvic|Quicksand&display=swap" rel="stylesheet">





	<!----google font link end------>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="maincss.css">

</head>

<body>
  <!--[if IE9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <!----menu strt------>
  	<div class="fixed-top">





  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="img/nit.png" style="width: auto; height:30px; margin-left:50px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="padding-left:inherit; margin-left:auto;">
       <li class="nav-item">
        <a class="nav-link" href="mainhtml.html">Home</a>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item"  href="DropdownMenu/appdevelophtml.html">Software Development</a>
          <a class="dropdown-item" href="DropdownMenu/websitedesignhtml.html">Website Design</a>
          <a class="dropdown-item" href="DropdownMenu/webDevelopnhtml.html">Website Development</a>
          <a class="dropdown-item"  href="DropdownMenu/appdevelophtml.html">Andriod Apps Development</a>
		  <a class="dropdown-item"  href="DropdownMenu/graphicedesignhtml.html">Graphic Design</a>
		   <a class="dropdown-item" href="DropdownMenu/webDevelopnhtml.html">Wordpress Plugin</a>
		   <a class="dropdown-item"  href="DropdownMenu/websitedesignhtml.html">Responsive Website Design</a>
		   <a class="dropdown-item"  href="DropdownMenu/webDevelopnhtml.html">E-Commerce Website Development</a>

        </div>
      </li>

	  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<a class="dropdown-item"  href="DropdownMenu/seonhtml.html">Search Engine Optimization(SEO)</a>
		    <a class="dropdown-item"  href="DropdownMenu/digitalfilmhtml.html">Digital Filmmaking</a>
          <a class="dropdown-item"  href="DropdownMenu/appdevelophtml.html">Software Development</a>
          <a class="dropdown-item"  href="DropdownMenu/websitedesignhtml.html">Website Design</a>
          <a class="dropdown-item"  href="DropdownMenu/webDevelopnhtml.html">Website Development</a>
          <a class="dropdown-item"  href="DropdownMenu/appdevelophtml.html">Andriod Apps Development</a>
		  <a class="dropdown-item"  href="DropdownMenu/graphicedesignhtml.html">Graphic Design</a>
		   <a class="dropdown-item"  href="DropdownMenu/webDevelopnhtml.html">Wordpress Plugin</a>
		   <a class="dropdown-item"  href="DropdownMenu/websitedesignhtml.html">Responsive Website Design</a>
		   <a class="dropdown-item"  href="DropdownMenu/webDevelopnhtml.html">E-Commerce Website Development</a>
        </div>
      </li>

     <li class="nav-item">
        <a class="nav-link" href="careerthtml.html">Career</a>
      </li>

	  <li class="nav-item">
        <a class="nav-link" href="Aboutushtml.html">About us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="contacthtml.html">Contact us</a>
      </li>

	  <li class="nav-item">
        <a class="nav-link" href="eventhtml.html">Event</a>
      </li>
    </ul>

  </div>
</nav>


			</div>



  <!---menu end------->

  <!---img strt------->

    <section class="contact pt-100 pb-100" id="contact">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 mx-auto text-center">
                  <div class="section-title mb-100">

                     <h4>Contact US</h4>
                  </div>
               </div>
            </div>
            <div class="row text-center">
                  <div class="col-md-8">
                     <form action="#" class="contact-form">
                        <div class="row">
                           <div class="col-xl-6">
                              <input type="text" placeholder="name">
                           </div>
                           <div class="col-xl-6">
                              <input type="text" placeholder="email">
                           </div>
                           <div class="col-xl-6">
                              <input type="text" placeholder="subject">
                           </div>
                           <div class="col-xl-6">
                              <input type="number" placeholder="telephone">
                           </div>
                           <div class="col-xl-12">
                              <textarea placeholder="message" cols="30" rows="10"></textarea>
                              <input type="submit" value="send message">
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-4">
                     <div class="single-contact">
                        <i class="fa fa-map-marker"></i>
                        <h5>Address</h5>
                        <p>Academy Road Feni,Feni Bangladesh</p>
                     </div>
                     <div class="single-contact">
                        <i class="fa fa-phone"></i>
                        <h5>Phone</h5>
                        <p>(+88) 01815-12 41 29</p>
                        <p>(+88) 01719-33 10 57</p>
                     </div>
                     <div class="single-contact">
                        <i class="fa fa-envelope"></i>
                        <h5>Email</h5>
                        <p>jahid68582@gmail.com</p>
                          <p>jahidcsharp@gmail.com</p>
                     </div>
                  </div>
            </div>
         </div>
      </section>

  <!---img end------->


  <!-----fOOTER strt------>


    <footer class="kilimanjaro_area">
        <!-- Top Footer Area Start -->
        <div class="foo_top_header_one section_padding_100_70">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>About Us</h5>
                            <p> Nabila iT is a global IT and Engineering solutions provider catering to a diverse customer base.and leading ICT training service center. We ensure to empower our clients with innovative solutions that add measurable value to business, while adhering to global quality standards.
                            We offer an optimal blend of business processes in varied domains to enable our customers to meet their corporate goals.
                          </p>
                        </div>
                        <div class="kilimanjaro_part m-top-15">
                            <h5>Social Links</h5>
                            <ul class="kilimanjaro_social_links">
                                <li><a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                                <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
                                <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
								<li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i>instagram</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Courses</h5>
                            <ul class=" kilimanjaro_widget">
                               <li><a href="DropdownMenu/webDevelopnhtml.html">Web Development</a></li>
                                <li><a  href="DropdownMenu/appdevelophtml.html">Software Development</a></li>
                                <li><a  href="DropdownMenu/appdevelophtml.html">Andriod Apps Development</a></li>
                                <li><a href="DropdownMenu/websitedesignhtml.html">Web Design</a></li>
                                <li><a  href="DropdownMenu/graphicedesignhtml.html">Graphic Design</a></li>
                                <li><a  href="DropdownMenu/webDevelopnhtml.html">Pograming</a></li>
                                <li><a  href="DropdownMenu/seonhtml.html">SEO</a></li>
                                <li><a  href="DropdownMenu/webDevelopnhtml.html">PHP Laravel</a></li>
                            </ul>
                        </div>

                        <div class="kilimanjaro_part m-top-15">
                            <h5>Our Services</h5>

                            <ul class="kilimanjaro_links">
<li><a href="DropdownMenu/websitedesignhtml.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Web Design</a></li>
<li><a href="DropdownMenu/webDevelopnhtml.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Web Development</a></li>
 <li><a href="DropdownMenu/appdevelophtml.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Andriod Apps Development</a></li>
<li><a href="DropdownMenu/webDevelopnhtml.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pograming</a></li>
 <li><a href="DropdownMenu/seonhtml.html"><i class="fa fa-angle-right" aria-hidden="true"></i>SEO</a></li>
 <li><a  href="DropdownMenu/graphicedesignhtml.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Graphic Design</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Latest Event</h5>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="img/ft1.jpg"alt="">

                                </div>
                                <a href="eventhtml.html">Web Development Offers</a>
                                <p class="kilimanjaro_date">21 Sep 2019</p>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="img/ft2.jpg" alt="">
                                </div>
                                <a href="eventhtml.html">Software Development Offers</a>
                                <p class="kilimanjaro_date">21 Sep 2019</p>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="img/ft3.jpg" alt="">
                                </div>
                                <a href="eventhtml.html">Andriod Apps Development Offers</a>
                                <p class="kilimanjaro_date">21 Sep 2019</p>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Contact US</h5>
                            <div class="kilimanjaro_single_contact_info">
                                <h5>Phone:</h5>
                                <p>+88 01815-12 41 29 <br> +88 01719-33 10 57</p>
                            </div>

							<div class="kilimanjaro_single_contact_info">
                                <h5>Address:</h5>
                                <p>Academy Road Feni <br> Feni Bangladesh</p>
                            </div>

                            <div class="kilimanjaro_single_contact_info">
                                <h5>Email:</h5>
                                <p>jahid68582@gmail.com <br>jahidcsharp@gmail.com </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>© All Rights Reserved by <a href="#">NiT</a></p>
                    </div>
                </div>
		    </div>
        </div>

    </footer>

  <!-----Footer end------>

  <!----js link strt------>
  <script src="js/jquray.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  <!-----js link end----->


</body>

</html>
